<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_packs_with_chunks_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
