<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
    <%= stylesheet_pack_tag "login", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_packs_with_chunks_tag "login", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div class="login-container">
      <%= render "shared/flashes" %>

      <%= yield %>
    </div>
  </body>
</html>
